<div class="main">
    <div class="container">
            <div class="box">
            <img class="logo" src="/assets/img/kore.png"/>
            <img class="fork " src="https://www.hiredonline.co.uk/getasset/65bea7cc-7246-42d0-b5ae-5e5e380eb1c0/"/>

<h2>Agile</h2><p>
                Combining the capacity of large<br>
        global providers with the velocity<br>
        of a tight team, we get more of the <br>
        right things done,faster.
            </p>
            <button type="button" class="btn btn-primary" (click)="cl()">Click</button>
            </div>

   
    </div>

</div>