<div class="main">
    <div class="container">
            <div class="box">
            <img class="logo" src="/assets/img/kore.png"/>
            <img class="fork " src="https://media.gettyimages.com/photos/smiling-engineers-standing-with-digital-tablet-picture-id1076609210?k=20&m=1076609210&s=612x612&w=0&h=k2Aq0hu96lDCNtUeEkVZrJy4N9mPN_VxvHQPqmYAJVw="/>
            <h2>Innovative</h2><p>
                Combining the capacity of large<br>
        global providers with the velocity<br>
        of a tight team, we get more of the <br>
        right things done,faster.
            </p>
            <button type="button" class="btn btn-primary" (click)="cl()">Click</button>

            </div>

   
    </div>

</div>