
<div class="main">
    <div class="container">
            <div class="box">
            <img class="logo" src="/assets/img/kore.png"/>
            <img class="fork " src="/assets/img/iot1.jpg"/>
            <h2>Simplify<br> IoT</h2><p>
                Combining the capacity of large<br>
        global providers with the velocity<br>
        of a tight team, we get more. <br>
        
            </p>
            <button type="button" class="btn btn-primary" (click)="cl()">Click</button>

            </div>

   
    </div>

</div>